# -*- coding: utf-8, tab-width: 2 -*-
#
# Please make sure to change these example secrets to real ones in any
# important scenario. If for some reason you want to keep this file, you can
# just overwrite specific secrets in a .rc file with higher prefix number.

ENV_SECRETS['POSTGRES_PASSWORD']='example'
ENV_SECRETS['RABBITMQ_ERLANG_COOKIE']='Biscuit_Biscuit_Crumb_Crumb'
